.informasi-view {
    background-color: #fff;
    
    .informasi {
        padding: 10px;
    
        img {
            max-width: 100%;
        }

        .subtitle {
            background-color: #8C8C8C; 
            color: white; 
            padding: 10px; 
            margin: 10px 0 10px 0; 
            font-weight: 700;
            font-size: 1.2em;
        }

        .soal {
            padding: 10px;
        }
    }
}