/*----------------------------------------------------
    WALLPAPER
*/

.ux-wallpaper {
    background-color: #15428B;
}

.ux-wallpaper-tiled {
    background-repeat: repeat;
}

/*----------------------------------------------------
    Desktop DataView
*/

.ux-desktop-shortcut {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin: 8px;
    width: 85px;
}

.ux-desktop-shortcut-icon {
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.ux-desktop-shortcut-text {
    font: normal 10px tahoma,arial,verdana,sans-serif;
    text-decoration: none;
    padding-top: 5px;
    color: white;
}

.x-view-over .ux-desktop-shortcut-text {
    text-decoration: underline;
}

/*----------------------------------------------------
    Start Button
*/

.ux-start-button-icon {
    background-image: url(../images/webdesktop/taskbar_start_menu.png) !important;
    background-color: transparent;
}

.ux-start-button .x-btn-arrow {
    background-image: none;
}

.ux-start-button .x-btn-arrow-right {
    padding-left: 10px;
}

.ux-taskbar {
    padding-left: 4px !important;
}

/*----------------------------------------------------
    Start Menu
*/

/*.ux-start-menu-body {
    padding-top: 25px;    
}*/

.ux-start-menu {
    cursor: pointer;
    text-align: left;
}

.ux-start-menu-toolbar .x-btn-inner {
    text-align: left;
}

.ux-start-menu-toolbar {
    padding: 4px !important;
}

/*----------------------------------------------------
    TaskBar
*/

.ux-taskbar .x-toolbar {
    background: transparent none;
    border-color: transparent;
}

.x-ie6 .ux-taskbar .x-toolbar {
    border-color: #d3e1f1;
}

.ux-desktop-windowbar .x-btn-inner,
.x-nbr .ux-desktop-windowbar .x-btn-icon-text-left button {
    text-align: left !important;
}

.ux-taskbar .x-toolbar {
    height: 45px;
}

.ux-taskbar {
    height: 45px;
    padding: 0;
}

.x-toolbar .x-toolbar {
    padding: 0;
}

/*----------------------------------------------------
    Tray Clock
*/

.ux-desktop-trayclock {
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}


.x-grid-checkheader {
    height: 14px;
    background-image: url('../images/webdesktop/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}
.x-grid-checkheader-checked {
    background-image: url('../images/webdesktop/checked.gif');
}
.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

/* shared styles for the ActionColumn icons */
.x-action-col-cell img {
    height: 16px;
    width: 32px;
    text-align: center;
}

.x-action-col-cell img.button_col_2 {
    background-image: url('../images/webdesktop/table_add.png');
    cursor: pointer;
}
.pl-window .x-window-body{
    background-color:#fff;
}